@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .fancy-font {
    @apply font-title;
    font-feature-settings: "ss02" on;
  }
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r;
  }
}